**MINI PROJECT II**

For this project I aimed to extract information from Foursquare on POI related to food establishments around the Yonge & Dundas Area in TORONTO, ON

In [1]:
import requests as re
import os
import json
from pprint import pprint
import numpy as np
import pandas as pd

# Foursquare

Send a request to Foursquare with a small radius (1000m) with the location of your choice
>

In [31]:
foursquare_api = os.environ["FOURSQUARE_API_KEY"]
foursquare_url = "https://api.foursquare.com/v3/places/search?ll=43.65595842901148,-79.38106479733959&radius=1000"
headers = {"Accept": "application/json"} 
headers['Authorization'] = foursquare_api

foursquare_res = re.get(foursquare_url, headers=headers)
foursquare_json = foursquare_res.json()

From Foursquare I was able to find info on: 
* the names of food establishments within the 1000m radius,
* their adresses, 
* the neighborhod they reside in
* their distance from Yonge-Dundas

In [9]:
# GET LOCATION NAMES
fsq_locations = []
for child in foursquare_json['results']:
    fsq_locations.append(child['name'])

In [36]:
#GET LOCATION ADRESSES
fsq_address = []
for item in foursquare_json['results']:
    fsq_address.append(item['location']['address'])

In [37]:
# GET NEIGHBORHOODS
fsq_neighb = []
for item in foursquare_json['results']:
    if 'neighborhood' in item['location']:
        fsq_neighb.append(item['location']['neighborhood'])
    else:
        fsq_neighb.append('NA')

In [38]:
# GET DISTANCE FROM YONGE-DUNDAS SQUARE
fsq_distance = []
for item in foursquare_json['results']:
    fsq_distance.append(item['distance'])

In [7]:
# GET FOURDQUARE IDS
fsq_id = []
for item in foursquare_json['results']:
    fsq_id.append(item['fsq_id'])

I then merged the data into a dataframe

In [11]:
# MERGE INTO DATAFRAME
fsq_data = {
    'ID': pd.Series(fsq_id),
    'Name': pd.Series(fsq_locations),
    'Address': pd.Series(fsq_address),
    'Neighborhood': pd.Series(fsq_neighb),
    'Distance_From_Yonge-Dundas': pd.Series(fsq_distance)
}

fsq_df = pd.DataFrame(fsq_data)
fsq_df

,ID,Name,Address,Neighborhood,Distance_From_Yonge-Dundas
0,57eda381498ebe0e6ef40972,Uniqlo ユニクロ,220 Yonge St,NA,34
1,4ad8cd16f964a520c91421e3,Yonge-Dundas Square,40 Dundas St W,[The Village],47
2,4adbbae6f964a520402a21e3,Cineplex Odeon Yonge & Dundas Cinemas,10 Dundas St E,NA,57
3,4df909dfe4cd2129701c0690,JOEY Eaton Centre,1 Dundas St W,[Eaton Centre],67
4,5615b6c4498e3c32c67ad78f,Blaze Pizza,10 Dundas St E,[Downtown],104
5,4adc9148f964a520512d21e3,Chipotle Mexican Grill,323 Yonge St,[Downtown Toronto],100
6,4ad4c062f964a5200bf820e3,Silver Snail Comics,329 Yonge St,[Downtown Toronto],122
7,4ad4c062f964a520c5f720e3,Royal Alexandra Theatre,284 King St W,[Downtown],141
8,5064c3dde4b07c5a18986283,Five Guys Burgers & Fries,329 Yonge St,[Downtown Toronto],129
9,514cc159e4b0e4f73af4eced,Jazz Bistro,251 Victoria St,[Downtown],147

# Yelp

Send a request with the same location paramaters (location, radius, etc)

In [35]:
import json
from pprint import pprint

#load json object

with open('response.json') as f:
    yelp_json = json.load(f)

In [33]:
import json
from pprint import pprint

#load json object

with open('response.json') as f:
    yelp_json = json.load(f)

YELP seems to provide more detailed and thorough data on food establishment. Accordingly, I was able to extract information on:
* Establishment Names
* The Type of Establishement
* The Number of Reviews
* Their overal ratings
* Their Price status
* Distance from Yonge-Dundas

In [34]:
 # EXTRACT LOCATION NAMES
yelp_locations = []
for child in yelp_json['businesses']:
    yelp_locations.append(child['name'])

In [15]:
# GET TYPE OF ESTABLISHMENT
yelp_type = []
for item in yelp_json['businesses']:
    yelp_type.append(item['categories'][0]['title'])

In [17]:
# get reviews
yelp_ratings = []
for item in yelp_json['businesses']:
    yelp_ratings.append(item['rating'])

20

In [18]:
#get prices
yelp_prices = []
for item in yelp_json['businesses']:
    yelp_prices.append(item['price'])

In [19]:
# get review count

yelp_review_count = []
for item in yelp_json['businesses']:
    yelp_review_count.append(item['review_count'])
len(yelp_review_count)

20

In [21]:
# get distance from yonge and dundas
yelp_distance = []
for item in yelp_json['businesses']:
    yelp_distance.append(item['distance'])

In [23]:
# GET IDs
yelp_ID = []
for item in yelp_json['businesses']:
    yelp_ID.append(item['id'])

Put your parsed results into a DataFrame

In [39]:
yelp_merge = {
    'Name': pd.Series(yelp_locations),
    'Location_Type': pd.Series(yelp_type),
    'Distance_From_Yonge-Dundas': pd.Series(yelp_distance),
    'Price': pd.Series(yelp_prices),
    'Review-Count': pd.Series(yelp_review_count),
    'Rating': pd.Series(yelp_ratings)
}
yelp_df= pd.DataFrame(yelp_merge)
yelp_df

,Name,Location_Type,Distance_From_Yonge-Dundas,Price,Review-Count,Rating
0,Blaze Pizza,Pizza,107.821381,$$,566,4.5
1,KINKA IZAKAYA ORIGINAL,Japanese,532.205976,$$,1724,4.0
2,Pai Northern Thai Kitchen,Thai,1083.691116,$$,3201,4.5
3,Richmond Station,Canadian (New),523.253427,$$$,831,4.5
4,Sansotei Ramen,Ramen,445.853622,$$,906,4.0
5,GB Hand-pulled Noodles,Chinese,228.915389,$$,563,4.0
6,Eggspectation,Breakfast & Brunch,292.589666,$$,725,4.0
7,Hokkaido Ramen Santouka,Ramen,290.245629,$$,876,4.0
8,Katsuya,Japanese,489.673837,$$,460,4.5
9,Uncle Tetsu's Japanese Cheesecake,Desserts,242.032179,$,1128,3.5
10,Banh Mi Boys,Vietnamese,364.846207,$,505,4.0
11,Salad King Restaurant,Thai,202.750925,$$,995,3.5
12,JOEY Eaton Centre,Canadian (New),76.430245,$$,513,3.5
13,Byblos,Mediterranean,1088.947333,$$$$,854,4.5
14,Tsujiri,Tea Rooms,348.912401,$$,581,4.0
15,Pearl Diver,Seafood,758.758397,$$,598,4.0
16,Poke Guys,Hawaiian,352.894727,$$,364,4.0
17,Fahrenheit Coffee,Coffee & Tea,758.377743,$$,330,4.5
18,Japango,Sushi Bars,353.255861,$$,702,3.5
19,The Queen And Beaver Public House,Pubs,241.694093,$$,401,4.0

In [29]:
#SORT VALES BY POPULARITY

yelp_df.sort_values(by=['Review-Count'], ascending = [False])

,Name,Location_Type,Distance_From_Yonge-Dundas,Price,Review-Count,Rating
2,Pai Northern Thai Kitchen,Thai,1083.691116,$$,3201,4.5
1,KINKA IZAKAYA ORIGINAL,Japanese,532.205976,$$,1724,4.0
9,Uncle Tetsu's Japanese Cheesecake,Desserts,242.032179,$,1128,3.5
11,Salad King Restaurant,Thai,202.750925,$$,995,3.5
4,Sansotei Ramen,Ramen,445.853622,$$,906,4.0
7,Hokkaido Ramen Santouka,Ramen,290.245629,$$,876,4.0
13,Byblos,Mediterranean,1088.947333,$$$$,854,4.5
3,Richmond Station,Canadian (New),523.253427,$$$,831,4.5
6,Eggspectation,Breakfast & Brunch,292.589666,$$,725,4.0
18,Japango,Sushi Bars,353.255861,$$,702,3.5
15,Pearl Diver,Seafood,758.758397,$$,598,4.0
14,Tsujiri,Tea Rooms,348.912401,$$,581,4.0
0,Blaze Pizza,Pizza,107.821381,$$,566,4.5
5,GB Hand-pulled Noodles,Chinese,228.915389,$$,563,4.0
12,JOEY Eaton Centre,Canadian (New),76.430245,$$,513,3.5
10,Banh Mi Boys,Vietnamese,364.846207,$,505,4.0
8,Katsuya,Japanese,489.673837,$$,460,4.5
19,The Queen And Beaver Public House,Pubs,241.694093,$$,401,4.0
16,Poke Guys,Hawaiian,352.894727,$$,364,4.0
17,Fahrenheit Coffee,Coffee & Tea,758.377743,$$,330,4.5

# Google (stretch)

Use the same process as the first two APIs

# Database

*Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)*


I begin by creating the tables for into whihc I will insert the data.

In [26]:
import sqlite3
from sqlite3 import Error # These lines import sqlite3 and the module's Error class

def create_connection(path): # defines a function .create_connection() that accepts the path to the SQLite datbase
    conneciton = None
    try:
        connection = sqlite3.connect(path) # uses .connect() from sqlite3 module and takes the SQLite database path as a paramter. If the dataabse exists the specified location, then a connection is established. Otherwise, a nre databse will be created at this location
        print("Connection to SQLite DB sucessful") 
    except Error as e: # catched any expetion that might be thrown if .connect() fails to establish connection
        print(f"The error '{e}' occured")
    return connection

In [43]:
connection = create_connection("miniproject-II.db")
def execute_query(connection, query): # This code tries to execeute the given query and prints an error message of necessary
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occured")

Connection to SQLite DB sucessful

Now I insert some of my data into the the SQL table via Python

In [44]:
create_yelp_table = """
CREATE TABLE IF NOT EXISTS YELP(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    type TEXT,
    address TEXT,
    distance NUMERIC,
    price TEXT,
    review_count INTEGER,
    rating NUMERIC);
"""
# Send to Database
execute_query(connection, create_yelp_table)

Query executed successfully

In [53]:

create_foursquare_table = """
CREATE TABLE IF NOT EXISTS foursquare(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    address TEXT,
    neighborhood TEXT,
    distance NUMERIC,
    FOREIGN KEY(name) REFERENCES yelp (name)
);
"""

In [49]:

create_foursquare_table = """
CREATE TABLE IF NOT EXISTS foursquare(id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT NOT NULL, address TEXT,
 neighborhood TEXT, distance NUMERIC);
"""
execute_query(connection, create_foursquare_table)

The error 'near "-": syntax error' occured

In [50]:

fsq_insert = """
INSERT INTO foursquare (name, address, neighborhood, distance)
VALUES ('Uniqlo ユニクロ', '220 Yonge St', 'NA', 34),
    ('Yonge-Dundas Square', '40 Dundas St W', 'The Village', 47),
    ('Cineplex Odeon Yonge & Dundas Cinemas', '10 Dundas St E', 'NA', 57),
    ('JOEY Eaton Centre', '10 Dundas St E', 'Eaton Centre', 104),
    ('Blaze Pizza', '10 Dundas St E', "Downtown", 67),
    ("Chipotle Mexican Grill", "323 Yonge St", "Downtown Toronto", 123),
    ("Silver Snake Combo", "329 Yonge Street", "Downtown Toronto", 122),
    ("Royal Alexandria Theatre", "284 King Street", "Downtown", 129),
    ("Chipotle Mexican Grill", "323 Yonge St", "Downtown Toronto", 123),
    ("Silver Snake Combo", "329 Yonge Street", "Downtown Toronto", 122),
    ("Royal Alexandria Theatre", "284 King Street", "Downtown", 129);
"""
execute_query(connection,fsq_insert)

The error 'near "(": syntax error' occured

In [ ]:
insert_yelp="""
INSERT INTO YELP (name, type, address, distance, price, review_count, rating)
VALUES 
    ('Blaze Pizza', 'Pizza', '10 Dundas Street East', 107.821381, "$$", 566, 4.5),
    ('KINKA IZAKAYA ORIGINAL', 'Japanese', '398 Church Street', 532.205976, "$$", 566, 4.0),
    ('Pai Northern Thai Kitchen', 'Thai', '18 Duncan Street', 1083.691116, "$$", 566, 4.5),
    ('Richmond Station', 'Canadian (New)', '1 Richmond Street W', 523.253427, "$$", 566, 4.5),
    ('Sansotei Ramen', 'Ramen', '179 Dundas Street W', 445.853622, "$$", 566, 4.0),
    ('GB Hand-pulled Noodles', 'Chinese', '66 Edward Street', 228.915389, "$$", 566, 4.0),
    ('Eggspectation', '66 Edward Street', '483 Bay Street', 292.589666, "$$", 566, 4.0),
    ('Hokkaido Ramen Santouka', 'Ramen', '91 Dundas Street E', 290.245629, "$$", 566, 4.0),
    ('Katsuya', 'Japanese', '66 Gerrard Street E', 489.673837, "$$", 566, 4.5),
    ("Uncle Tetsu's Japanese Cheesecake", 'Desserts', '598 Bay Street', 242.032179, "$", 566, 3.5),
    ('Banh Mi Boys', 'Vietnamese', '399 Yonge Street', 202.750925, "$", 566, 4.0),
    ('Salad King Restaurant', 'Thai', '340 Yonge Street', 202.750925, "$$", 566, 3.5),
    ('JOEY Eaton Centre', 'Canadian (New)', '1 Dundas St W', 76.430245, "$$", 513, 3.5),
    ('Byblos', 'Mediterranean', '11 Duncan Street', 1088.947333, "$$", 854, 4.5),
    ('Tsujiri', 'Tea Rooms', '147 Dundas Street', 348.912401, "$$", 581, 4.0),
    ('Pearl Diver', 'Seafood', '100 Adelaide Street E', 758.758397, "$$", 598, 4.0),
    ('Poke Guys', 'Hawaiian', '112 Elizabeth Street', 352.894727, "$$", 364, 4.0),
    ("Fahrenheit Coffee", "Coffee & Tea", "120 Lombard Avenue", 758.377743, "$$", 330, 4.5),
    ("Japango", "Sushi Bars", "122 Elizabeth Street", 353.255861, "$$", 702, 3.5),
    ("The Queen And Beaver Public House", "Pubs", "35 Elm Street", 241.694093, "$$", 403, 4.0);
"""
execute_query(connection, insert_yelp)

I then gathered the top 10 restaurants according to their rating

In [52]:

yelp_df.nlargest(10, 'Rating')

,Name,Location_Type,Distance_From_Yonge-Dundas,Price,Review-Count,Rating
0,Blaze Pizza,Pizza,107.821381,$$,566,4.5
2,Pai Northern Thai Kitchen,Thai,1083.691116,$$,3201,4.5
3,Richmond Station,Canadian (New),523.253427,$$$,831,4.5
8,Katsuya,Japanese,489.673837,$$,460,4.5
13,Byblos,Mediterranean,1088.947333,$$$$,854,4.5
17,Fahrenheit Coffee,Coffee & Tea,758.377743,$$,330,4.5
1,KINKA IZAKAYA ORIGINAL,Japanese,532.205976,$$,1724,4.0
4,Sansotei Ramen,Ramen,445.853622,$$,906,4.0
5,GB Hand-pulled Noodles,Chinese,228.915389,$$,563,4.0
6,Eggspectation,Breakfast & Brunch,292.589666,$$,725,4.0

# Travelling Salesman Problem (stretch)

If you have time, follow the steps in the [ortools tutorial](https://developers.google.com/optimization/routing/tsp) using Google's [Directions API](https://developers.google.com/maps/documentation/directions/start).